/* CSS da aula 14 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 40vw;
    height: 100vh; 
    min-height: 80vh;
    background-image: url(../images/balanca-imc.jpg); 
    background-position: center;
    background-repeat: no-repeat;

}

main {
    width: 100vw;
    padding: 1rem; /* espacamento interno */
}

main h1 {
    border-radius: 15px;
    text-align: center;
    
    
}


section {
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
}

/* CLASS PARA FORMATAR COM JS */
.alerta {
    background: #f44336;
    padding: 5px;
    border-radius: 5px;
}

/* FORMULARIO */
form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* DIV DOS INPUTS */
.form-group {
    font-size: 14pt;
    display: flex;
    justify-content: center;
    margin: 0.625rem;
}

.input {
    font-size: 16pt;
    margin-left: 15px;
    background: transparent;
    width: 50%;
    box-shadow: 3px 3px 10px 4px #00000070;
}

/* INPUTS */
input[type=number], input[type=text] {
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-left: 18px;
}

/* BOTOES */
.botao {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#resultadoImc {
    border: 1px solid #ccc;
    width: 60px;
    margin-left: 5px;
    font-size: 14pt;
    color: red;
    text-align: center;
    margin-right: 5px;
}

#aviso {
    font-weight: bold;
}


#btnEnviar {
    background: #5eff00;
    margin-right: 10px;
    box-shadow: 3px 3px 10px 4px #00000070;
}

#btnLimpar {
    background: #ff3d00;
    margin-left: 10px;
    box-shadow: 3px 3px 10px 4px #00000070;
}


/* DIV #resultado */
#resultado {
    text-align: center;
    width: 200px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: #000 1;
}
p {
    color: red;
    background-color: white;
    font-size: 16pt;
}

/* .pessoa sao paragrafos */
.pessoa {
    padding: 0.625rem;
}
.pessoa:nth-child(odd) {
    margin: 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 4px #00000070;
    
}
.pessoa:nth-child(even) {
    margin: 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 4px #00000070;
    
}

footer#rodape p {
    background: transparent;
    margin-top: 20px;
    text-align: center;
    color: black;
    align-items: flex-end;
}

  footer#rodape a {
    color: black;
  }